<div class="alert">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <div class="alert-box">
        <div class="alert-box__top">
            <p>ثبت تیم با موفقیت انجام شد‌ !</p>
        </div>
        <p>شما میتوانید با مراجعه به بخش داشبورد ، تیم خود را مدیریت کنید.</p>
    </div>
</div>