<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<!-- Css Links -->
		<link rel="shortcut icon" href="../img/shortcut icon.png" />
		<link rel="stylesheet" href="../css/dashboard-notif.css" />

		<title>notifications</title>
	</head>
	<body>
		<div class="container" style="background-image: url(../img/dashboard-bg.jpg)">
			<div class="container2">
				<div class="topblock">
					<div class="topblock__menu">
						<a href="dashboard-settings.html">تنظیمات</a>
						<a>/</a>
						<a href="/dashboard/notif" class="active">اعلان ها</a>
						<a>/</a>
						<a href="/dashboard/team-tour">تیم ها و تورنومنت ها</a>
						<a>/</a>
						<a href="/dashboard">پروفایل</a>
					</div>
				</div>
				<div class="midblock">
					<div class="midblockk">
						<div class="midblock__right">
							<div class="midblock__right--right">
								<div class="top-box">
									<input type="search" placeholder="جستجو پلیر" />
									<a>انتخاب</a>
								</div>
								<div class="mid-note1"></div>
								<!-- -- -->
								<div class="bot-box">
									<a class="players">Jerax</a>
									<a class="players">Ali</a>
									<a class="players">Hossein</a>
									<a class="players activate">Mamad</a>
								</div>
							</div>
							<div class="midblock__right--left">
								<div class="message-box">
									<div class="send">
										<span class="send-time">08:21</span>
										<p>سلام چطوری ؟</p>
									</div>
									<div class="recieve">
										<span class="send-time">08:21</span>
										<p dir="rtl">سلام خوبم تو چطوری ؟</p>
									</div>
									<div class="send">
										<span class="send-time">08:22</span>
										<p>من عالی</p>
									</div>
									<div class="recieve">
										<span class="send-time">08:22</span>
										<p dir="rtl">خداروشکر چه میکنی ؟</p>
									</div>
									<div class="send">
										<span class="send-time">08:23</span>
										<p>هیچی نشستم</p>
									</div>
									<div class="recieve">
										<span class="send-time">08:23</span>
										<p dir="rtl">گیم نمیای ؟</p>
									</div>
									<div class="send">
										<span class="send-time">08:24</span>
										<p>والا حوصله گیم ندارم . خونوادمم نیستن خونه . گشنمم هست. درسامم زیادن. فردا دوتا امتحان دارم</p>
									</div>
									<div class="recieve">
										<span class="send-time">08:24</span>
										<p dir="rtl">سلام خوبم تو چطوری ؟</p>
									</div>
									<div class="send">
										<span class="send-time">08:25</span>
										<p>سلام چطوری ؟</p>
									</div>
									<div class="recieve">
										<span class="send-time">08:25</span>
										<p dir="rtl">سلام خوبم تو چطوری ؟</p>
									</div>

									<!-- <p>هنوز گفتگویی شروع نکرده اید ...</p> -->
								</div>
								<div class="send-box">
									<i class="bx bx-send"></i>
									<input type="text" placeholder="چیزی بنویسید ..." />
								</div>
							</div>
						</div>
						<div class="midblock__left">
							<div class="out-messages">
								<div class="out-messages__top">
									<p>درخواست های ارسالی :</p>
									<div class="mid-note"></div>
								</div>
								<div class="out-messages__bot">
									<div class="out-messages__bot--box">
										<div class="specific">
											<p>درخواست عضویت به تیم<a href="#" class="specific-team">Team Jinx</a></p>
										</div>
										<a class="condition">
											<i class="bx bx-message-square-check"></i>
											<span>تایید شده</span>

											<!-- <i class="bx bx-message-square-x"></i>
                                            <span>رد شده</span> -->

											<!-- <i class='bx bx-message-square-minus'></i>
                                            <span>انتظار</span> -->
										</a>
										<a class="delete">حذف</a>
									</div>
									<div class="out-messages__bot--box">
										<div class="specific">
											<p>درخواست عضویت <a href="#" class="specific-player">Jerax</a>به تیم من</p>
										</div>
										<a class="condition">
											<!-- <i class="bx bx-message-square-check"></i>
											<span>تایید شده</span> -->

											<!-- <i class="bx bx-message-square-x"></i>
                                            <span>رد شده</span> -->

											<i class="bx bx-message-square-minus"></i>
											<span>انتظار</span>
										</a>
										<a class="delete">حذف</a>
									</div>
									<div class="out-messages__bot--box">
										<div class="specific">
											<p>
												درخواست ثبت نام تیم به تورنومنت<a href="#" class="specific-sign"
													>Farshad Hogo</a
												>
											</p>
										</div>
										<a class="condition">
											<!-- <i class="bx bx-message-square-check"></i>
											<span>تایید شده</span> -->

											<i class="bx bx-message-square-x"></i>
											<span>رد شده</span>

											<!-- <i class='bx bx-message-square-minus'></i>
                                            <span>انتظار</span> -->
										</a>
										<a class="delete">حذف</a>
									</div>
								</div>
							</div>
							<div class="in-messages">
								<div class="in-messages__top">
									<p>درخواست های دریافتی :</p>
									<div class="mid-note"></div>
								</div>
								<div class="in-messages__bot">
									<div class="in-messages__bot--box">
										<div class="specific">
											<p>
												<a href="#" class="specific-player">Jerax</a>درخواست عضویت به تیم شما را
												دارد .
											</p>
										</div>
										<div class="conditions">
											<a class="condition">
												<i class="bx bx-message-square-check"></i>
											</a>
											<a class="condition">
												<i class="bx bx-message-square-x"></i>
											</a>
										</div>
									</div>
									<div class="in-messages__bot--box">
										<div class="specific">
											<p>
												<a href="#" class="specific-team">Team Jinx</a>درخواست عضویت شما به تیم خود
												را دارد .
											</p>
										</div>
										<div class="conditions">
											<a class="condition">
												<i class="bx bx-message-square-check"></i>
											</a>
											<a class="condition">
												<i class="bx bx-message-square-x"></i>
											</a>
										</div>
									</div>
									<div class="in-messages__bot--box">
										<div class="specific">
											<p>
												<a href="#" class="specific-team">Rahimi Konan</a>درخواست عضویت تیم شما به
												تورنومنت خود را دارد .
											</p>
										</div>
										<div class="conditions">
											<a class="condition">
												<i class="bx bx-message-square-check"></i>
											</a>
											<a class="condition">
												<i class="bx bx-message-square-x"></i>
											</a>
										</div>
									</div>
									<div class="in-messages__bot--box">
										<div class="specific">
											<p>
												<a href="#" class="specific-team">Team Rahimi</a>درخواست ثبت نام در تورنومنت
												<a href="#" class="specific-tour">Farshad Hogo</a> را دارد .
											</p>
										</div>
										<div class="conditions">
											<a class="condition">
												<i class="bx bx-message-square-check"></i>
											</a>
											<a class="condition">
												<i class="bx bx-message-square-x"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
