<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<link rel="shortcut icon" href="../img/logo-lone.png" />
		<!-- Css Links -->
		<link rel="stylesheet" href="../css/dashboard-team.css" />
		<link rel="stylesheet" href="../css/dashboard-settings.css" />

		<title><%= pageTitle %></title>
	</head>
	<body>
		<div style="visibility: hidden;" class="alert">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
			</svg>
			<div class="alert-box">
				<div class="alert-box__top">
					<p></p>
				</div>
			</div>
		</div>
		<div class="container" style="background-image: url(../img/dashboard-bg.jpg)">
			<div class="container2">
				<div class="topblock">
					<div class="topblock__menu">
						<a href="/" class="exit" style="padding-right: 0;"><img src="../img/shortcut icon.png"></a>
						<a href="/dashboard/settings" class="active">تنظیمات</a>
						<a>/</a>
						<a href="/dashboard/notif">اعلان ها</a>
						<a>/</a>
						<a href="/dashboard/team-tour">تیم ها و تورنومنت ها</a>
						<a>/</a>
						<a href="/dashboard">پروفایل</a>
					</div>
				</div>
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<div class="midblock">
					<div class="midblockk">
						<div class="midblock__right">
							<div class="email">
								<p>ایمیل :</p>
								<div class="mid-note"></div>

								<div class="email-content">
									<span><%= user.email %></span>
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" id="email-editt">
										<path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
									</svg>
								</div>
							</div>
							<div class="email-edit">
								<p class="title">ویرایش ایمیل :</p>
								<div class="mid-note"></div>

								<div class="email-edit__content">
									<div style="width: 100%;">
										<input name="email" type="text" value="<%= user.email %>" id="bgc" />
                                    	<span style="visibility: hidden;display: block;"></span>
									</div>
									<a class="edit-btn">ویرایش</a>
								</div>
							</div>
						</div>
						<div class="midblock__left">
							<div class="password">
								<p>رمز عبور :</p>
								<div class="mid-note"></div>

								<div class="email-content">
									<span>**********</span>
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" id="password-editt">
										<path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
									</svg>
								</div>
							</div>

							<div class="password-edit">
								<p class="pass-title">تغییر رمز عبور :</p>
								<div class="mid-note"></div>

								<div class="password-edit__content">
									<label for="pass-bgc">رمز عبور جدید :</label>
									<input type="text" name="pass" id="pass-bgc" />
                                    <span style="display: none;"></span>
                                    <label for="pass-bgcs"> تکرار رمز عبور :</label>
									<input type="text" name="confirmPass" id="pass-bgcs" />
                                    <span style="display: none;"></span>
									<a class="pass-edit-btn">ویرایش</a>
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="botblock">
					<div class="botblockk">
						<a class="edit-profile">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
							</svg>
							<p>حذف اکانت</p>
						</a>
					</div>
				</div>
			</div>
		</div>

		<script src="../js/dashboard.js"></script>
	</body>
</html>
