<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<link rel="stylesheet" href="css/dash.css" />
		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container" style="background-image: url(img/dashboard-bg.jpg)">
			<div class="container2">
				<div class="topblock">
					<div class="topblock__menu">
						<a href="#">تنظیمات</a>
						<a href="#">/</a>
						<a href="#">تورنومنت</a>
						<a href="#">/</a>
						<a href="#">تیم</a>
						<a href="#">/</a>
						<a href="#" class="active">پروفایل</a>
					</div>
					<div class="topblock__nameteam">
							<input type="text" value="Mr_Bean" disabled dir="ltr" />
						<div class="topblock__team">
							<span>09/19/2023</span>
							<span>Team Jinx</span>
						</div>
					</div>
				</div>
				<div class="midblock">
					<div class="midblockk">
                        <div class="midblock__right"></div>
						<div class="midblock__left">
							<div class="midblock__left1">
								<div class="midblock__left1--top">
									<div class="midblock__left1--topimg">
										<img src="img/player-card6.jpg" alt="" />
									</div>
									<div class="midblock__left1--toprole">
										<div class="coach-role">
											<i class="bx bxs-circle"></i>
											<span>مربی</span>
										</div>
										<div class="team-role">
											<i class="bx bxs-circle"></i>
											<span>تیم لیدر</span>
										</div>
										<div class="tournament-role">
											<i class="bx bxs-circle"></i>
											<span>تورنومنت لیدر</span>
										</div>
									</div>
								</div>
								<div class="midblock__left1--bottom"></div>
							</div>
							<div class="midblock__left2">
								<div
									class="midblock__left2--images"
									style="background-image: url(img/centaur-warrunner.jpg)"
								>
									<div class="shadow-box">
										<p>تعداد : <span>15</span></p>
										<p>درصد برد : <span>%65</span></p>
									</div>
								</div>
								<div class="midblock__left2--images" style="background-image: url(img/meepo.jpg)">
									<div class="shadow-box">
										<p>تعداد : <span>15</span></p>
										<p>درصد برد : <span>%65</span></p>
									</div>
								</div>
								<div
									class="midblock__left2--images"
									style="background-image: url(img/wraith-king.jpg)"
								>
									<div class="shadow-box">
										<p>تعداد : <span>15</span></p>
										<p>درصد برد : <span>%65</span></p>
									</div>
								</div>
							</div>
							<div class="midblock__left3">
								<div class="email">
									<p>ایمیل :</p>
									<p dir="ltr">fshdtaraki1@gmail.com</p>
								</div>
								<div class="discord-id">
									<p>آیدی دیسکورد :</p>
									<p dir="ltr">fefe0066</p>
								</div>
								<div class="dota2-id">
									<p>آیدی دوتا ۲ :</p>
									<p dir="ltr">372407060</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="botblock">
					<a class="edit-profile">
						<i class="bx bx-pencil"></i>
						تغییر پروفایل
					</a>
					<a class="edit-image">
						<i class="bx bx-image"></i>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
