<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>

		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<!-- Css Links -->
		<link rel="shortcut icon" href="img/shortcut icon.png" />
		<link rel="stylesheet" href="css/dashboard.css" />
	</head>
	<body>
		<div class="container" style="background-image: url(img/dashboard-bg.jpg)">
			<div class="block"></div>
			<div class="blocks">
				<div class="top-block">
					<a href="#">تنظیمات</a>
					<a href="#">/</a>
					<a href="#">تورنومنت</a>
					<a href="#">/</a>
					<a href="#">تیم</a>
					<a href="#">/</a>
					<a href="#" class="active">پروفایل</a>
				</div>
				<div class="mid-block">
					<div class="mid-block__top">
						<div class="mid-block__top1">
							<div class="mid-block__top1--name">
								<p>Mr_Bean</p>
							</div>
							<div class="mid-block__top1--team">
								<p>9/18/2023</p>
								<p>Team Jinx</p>
							</div>
						</div>
						<div class="mid-block__top2">
							<img src="img/player-card6.jpg" alt="" />
						</div>
					</div>
					<div class="mid-block__bottom">
						<div class="mid-block__bottom--rightbox">
							<div class="rightbox__top">
								<p>تیم ها :</p>
								<div class="teams-details">
									<div class="team-details__nameimage">
										<img src="img/teamliquidlogo.jfif" alt="" />
										<span>Team Liqiud</span>
									</div>
									<div class="more-team">
										<a>برو به تیم</a>
									</div>
								</div>
								<div class="teams-details">
									<div class="team-details__nameimage">
										<img src="img/teamliquidlogo.jfif" alt="" />
										<span>Team Liqiud</span>
									</div>
									<div class="more-team">
										<a>برو به تیم</a>
									</div>
								</div>
								<div class="teams-details">
									<div class="team-details__nameimage">
										<img src="img/teamliquidlogo.jfif" alt="" />
										<span>Team Liqiud</span>
									</div>
									<div class="more-team">
										<a>برو به تیم</a>
									</div>
								</div>
							</div>
							<div class="rightbox__mid">
								<p>تورنومنت ها :</p>
								<div class="tours-details">
									<div class="tour-details__nameimage">
										<img src="img/tourcards.png" alt="" />
										<span>Farshad Hogo</span>
									</div>
									<div class="more-tour">
										<a>برو به تورنومنت</a>
									</div>
								</div>
								<div class="tours-details">
									<div class="tour-details__nameimage">
										<img src="img/tourcards.png" alt="" />
										<span>Farshad Hogo</span>
									</div>
									<div class="more-tour">
										<a>برو به تورنومنت</a>
									</div>
								</div>
								<div class="tours-details">
									<div class="tour-details__nameimage">
										<img src="img/tourcards.png" alt="" />
										<span>Farshad Hogo</span>
									</div>
									<div class="more-tour">
										<a>برو به تورنومنت</a>
									</div>
								</div>
							</div>
							<div class="rightbox__bot">
								<div class="rightbox__bot--comments">
									<div class="comments__image">
										<img src="img/player-card3.jpg" alt="" />
									</div>
									<div class="comments__box">
										<div class="comments__box--top">
											<div class="comments__box--top-name">
												<span>Mr_Bean</span>
											</div>
											<div class="comments__box--top-reply">
												<a>ارسال نظر</a>
												<a><i class="bx bx-like"></i></a>
											</div>
										</div>
										<div class="comments__box--bot">
											<div class="comments__box--bot-comment">
												<p>سلام بچه ها من بردم بازیمو ....</p>
											</div>
										</div>
									</div>
								</div>
								<div class="rightbox__bot--comments">
									<div class="comments__image">
										<img src="img/player-card3.jpg" alt="" />
									</div>
									<div class="comments__box">
										<div class="comments__box--top">
											<div class="comments__box--top-name">
												<span>Mr_Bean</span>
											</div>
											<div class="comments__box--top-reply">
												<a>ارسال نظر</a>
												<a><i class="bx bx-like"></i></a>
											</div>
										</div>
										<div class="comments__box--bot">
											<div class="comments__box--bot-comment">
												<p>سلام بچه ها من بردم بازیمو ....</p>
											</div>
										</div>
									</div>
								</div>
								<div class="rightbox__bot--comments">
									<div class="comments__image">
										<img src="img/player-card3.jpg" alt="" />
									</div>
									<div class="comments__box">
										<div class="comments__box--top">
											<div class="comments__box--top-name">
												<span>Mr_Bean</span>
											</div>
											<div class="comments__box--top-reply">
												<a>ارسال نظر</a>
												<a><i class="bx bx-like"></i></a>
											</div>
										</div>
										<div class="comments__box--bot">
											<div class="comments__box--bot-comment">
												<p>سلام بچه ها من بردم بازیمو ....</p>
											</div>
										</div>
									</div>
								</div>
								<div class="rightbox__bot--comments">
									<div class="comments__image">
										<img src="img/player-card3.jpg" alt="" />
									</div>
									<div class="comments__box">
										<div class="comments__box--top">
											<div class="comments__box--top-name">
												<span>Mr_Bean</span>
											</div>
											<div class="comments__box--top-reply">
												<a>ارسال نظر</a>
												<a><i class="bx bx-like"></i></a>
											</div>
										</div>
										<div class="comments__box--bot">
											<div class="comments__box--bot-comment">
												<p>سلام بچه ها من بردم بازیمو ....</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="mid-block__bottom--leftbox">
							<div class="leftbox__top">
								<div class="leftbox__top1">
									<div class="right-rol">
										<div class="rol1">
											<i class="bx bxs-circle"></i>
											<p>مربی</p>
										</div>
									</div>
									<div class="left-rol">
										<div class="rol3">
											<i class="bx bxs-circle"></i>
											<p>تورنومنت لیدر</p>
										</div>
									</div>
								</div>
								<div class="leftbox__top2">
									<div class="rank">
										<div class="pos">
											<p>پوز</p>
											<span>2</span>
										</div>
										<div class="mmr">
											<p>رنک</p>
											<span>4100</span>
										</div>
									</div>
									<div class="medal">
										<img src="img/Ancient_medal.webp" alt="" />
									</div>
								</div>
							</div>
							<div class="leftbox__mid">
								<div class="leftbox__mid--image" style="background-image: url(img/fav-hero.jpg)">
									<div class="shadow-box">
										<p>تعداد : <span>15</span></p>
										<p>درصد برد : <span>65%</span></p>
									</div>
								</div>
								<div
									class="leftbox__mid--image"
									style="background-image: url(img/centaur\ warrunner.jpg)"
								>
									<div class="shadow-box">
										<p>تعداد : <span>15</span></p>
										<p>درصد برد : <span>65%</span></p>
									</div>
								</div>
								<div
									class="leftbox__mid--image"
									style="background-image: url(img/templar\ assassin.jpg)"
								>
									<div class="shadow-box">
										<p>تعداد : <span>15</span></p>
										<p>درصد برد : <span>65%</span></p>
									</div>
								</div>
							</div>
							<div class="leftbox__bot">
								<div class="email">
									<p>ایمیل :</p>
									<p dir="ltr">fshdtaraki1@gmail.com</p>
								</div>
								<div class="discord-id">
									<p>آیدی دیسکورد :</p>
									<p dir="ltr">fefe0066</p>
								</div>
								<div class="dota2-id">
									<p>آیدی دوتا ۲ :</p>
									<p dir="ltr">372407060</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bot-block">
					<a class="edit-profile">
						<i class="bx bx-pencil"></i>
						تغییر پروفایل
					</a>
					<a class="edit-image">
						<i class="bx bx-image"></i>
					</a>
				</div>
			</div>
		</div>

		<script src="js/dashboard.js"></script>
	</body>
</html>
