<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<link rel="shortcut icon" href="../img/shortcut icon.png" />
		<!-- Css Links -->
		<link rel="stylesheet" href="../css/team-dashboard.css" />

		<title><%= pageTitle %></title>
	</head>
	<body>
		<div class="container" style="background-image: url(../img/dashboard-bg.jpg)">
			<div class="container2">
				<div class="topblock">
					<div class="topblock__menu">
						<a href="/">تنظیمات</a>
						<a>/</a>
						<a href="#">اعلان ها</a>
						<a>/</a>
						<a href="/dashboard/team-tour" class="active">تیم ها و تورنومنت ها</a>
						<a>/</a>
						<a href="/dashboard">پروفایل</a>
					</div>
				</div>
				<div class="midblock">
					<div class="midblockk">
						<div class="midblock__right">
							<div class="mytourblock">
								<div class="mytourblock__box">
									<p>تورنومنت من :</p>
									<div class="mid-note"></div>

									<!-- <div class="mytourblock__box--notyet">
										<span>هنوز تورنومنتی ایجاد نکرده اید .</span>
										<a href="tournoment.html">ایجاد تورنومنت</a>
									</div> -->

									<!-- teami ke sakhte shode ************** -->
									<div class="mytourblock__box--tour">
										<div class="specific-tour">
											<img src="../img/tourcards.png" alt="" />
											<span dir="ltr">Nariman</span>
											<img src="../img/Archon_medal.webp" alt="" />
											<p>تا</p>
											<img src="../img/Divine_medal.webp" alt="" />
										</div>
										<a>مشاهده</a>
									</div>
								</div>
							</div>
							<div class="otherteamblock">
								<div class="otherteamblock__topbox">
									<p>دیگر تورنومنت ها :</p>
									<div class="mid-note"></div>
								</div>

								<!-- <div class="othertourblock__notyet">
									<span>هنوز تورنومنتی شرکت نکرده اید .</span>
									<a href="teams.html">یافتن تورنومنت</a>
								</div> -->

								<!-- team haii ke ozv shode*************************** -->
								<div class="othertourblock__botbox">
									<div class="othertourblock__botbox--team">
										<div class="specifics-tour">
											<img src="../img/tourcards.png" alt="" />
											<span dir="ltr">Nariman</span>
											<img src="../img/Archon_medal.webp" alt="" />
											<p>تا</p>
											<img src="../img/Divine_medal.webp" alt="" />
											<h1>10/3/2023</h1>
										</div>
										<a>مشاهده</a>
									</div>
									<div class="othertourblock__botbox--team">
										<div class="specifics-tour">
											<img src="../img/tourcards.png" alt="" />
											<span dir="ltr">Nariman</span>
											<img src="../img/Archon_medal.webp" alt="" />
											<p>تا</p>
											<img src="../img/Divine_medal.webp" alt="" />
											<h1>10/3/2023</h1>
										</div>
										<a>مشاهده</a>
									</div>
									<div class="othertourblock__botbox--team">
										<div class="specifics-tour">
											<img src="../img/tourcards.png" alt="" />
											<span dir="ltr">Nariman</span>
											<img src="../img/Archon_medal.webp" alt="" />
											<p>تا</p>
											<img src="../img/Divine_medal.webp" alt="" />
											<h1>10/3/2023</h1>
										</div>
										<a>مشاهده</a>
									</div>
									<div class="othertourblock__botbox--team">
										<div class="specifics-tour">
											<img src="../img/tourcards.png" alt="" />
											<span dir="ltr">Nariman</span>
											<img src="../img/Archon_medal.webp" alt="" />
											<p>تا</p>
											<img src="../img/Divine_medal.webp" alt="" />
											<h1>10/3/2023</h1>
										</div>
										<a>مشاهده</a>
									</div>
								</div>
							</div>
						</div>
						<div class="midblock__left">
							<div class="myteamblock">
								<div class="myteamblock__box">
									<p>تیم من :</p>
									<div class="mid-note"></div>

									<!-- <div class="myteamblock__box--notyet">
										<span>هنوز تیمی ایجاد نکرده اید .</span>
										<a href="teams.html">ایجاد تیم</a>
									</div> -->

									<!-- teami ke sakhte shode ************** -->
									<div class="myteamblock__box--team">
										<div class="specific">
											<img src="../img/alliancelogo.png" alt="" />
											<span dir="ltr">Alliance</span>
											<img src="../img/Archon_medal.webp" alt="" />
										</div>
										<a>مشاهده</a>
									</div>
								</div>
							</div>
							<div class="otherteamblock">
								<div class="otherteamblock__topbox">
									<p>دیگر تیم ها :</p>
									<div class="mid-note"></div>
								</div>

								<!-- <div class="otherteamblock__notyet">
									<span>هنوز تیمی عضو نشده اید .</span>
									<a href="teams.html">یافتن تیم</a>
								</div> -->

								<div class="otherteamblock__botbox">
									<!-- team haii ke ozv shode*************************** -->
									<div class="otherteamblock__botbox--team">
										<div class="specifics">
											<img src="../img/alliancelogo.png" alt="" />
											<span dir="ltr">Alliance</span>
											<img src="../img/Archon_medal.webp" alt="" />
										</div>
										<a>مشاهده</a>
									</div>
									<div class="otherteamblock__botbox--team">
										<div class="specifics">
											<img src="../img/alliancelogo.png" alt="" />
											<span dir="ltr">Alliance</span>
											<img src="../img/Archon_medal.webp" alt="" />
										</div>
										<a>مشاهده</a>
									</div>
									<div class="otherteamblock__botbox--team">
										<div class="specifics">
											<img src="../img/alliancelogo.png" alt="" />
											<span dir="ltr">Alliance</span>
											<img src="../img/Archon_medal.webp" alt="" />
										</div>
										<a>مشاهده</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
