<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="img/logo-lone.png" />
		<!-- css link -->
		<link rel="stylesheet" href="css/errors.css" />
		<title><%= pageTitle %></title>
	</head>
	<body>
		<div class="container" style="background-image: url(img/<%= status %>.jpg)">
			<div class="right"></div>
			<div class="left">
                <h1><%= status %></h1>
				<% if (status === '500') { %>
					<p>سایت با مشکل مواجه شده لطفا دقایقی دیگر تلاش کنید ...</p>
				<% } else { %>
					<p>صفحه مورد نظر یافت نشد ...</p>
				<% } %>
				<div class="btn">
					<a href="/">بازگشت به صفحه اصلی</a>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path troke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"/>
					</svg>
				</div>
			</div>
		</div>
	</body>
</html>
