<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<!-- Css Links -->
		<link rel="stylesheet" href="../css/signup.css" />
		<link rel="shortcut icon" href="../img/logo-lone.png" />
		<title><%= pageTitle %></title>
	</head>
	<body>
		<div class="main">
			<div class="shadow-box">
				<!-- Forgot Password ----------------------------------------------- -->
				<div style="height: 33rem;" class="login" id="login-box">
					<form action="/auth/new-password" method="post" class="login-form">
						<div class="navbar__leftbox--logo">
							<a href="/" class="navbar__leftbox--logo white-one">Sir</a>
							<a href="/" class="navbar__leftbox--logo blue-one">Vana</a>
						</div>
						<div class="password-box">
							<label for="password">رمز عبور جدید :</label>
							<input type="password" name="password" id="password" />
							<i class="bx bx-hide" id="icon3"></i>
						</div>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
						<input type="hidden" name="userId" value="<%= userId %>"/>
						<input type="hidden" name="resetToken" value="<%= resetToken %>"/>
						<input type="submit" value="تایید رمز" />
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
