<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Site Icon -->
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet"
		/>

		<!-- Css Links -->
		<link rel="stylesheet" href="css/signup.css" />
		<title>SignUp</title>
	</head>

	<body>
		<!-- middle : -->
		<div class="main">
			<form action="/auth/signup" method="post">
				<div class="registration" id="register-box">
					<div class="navbar__leftbox--logo">
						<a href="/" class="navbar__leftbox--logo white-one"
							>Sir</a
						>
						<a href="/" class="navbar__leftbox--logo blue-one"
							>Vana</a
						>
					</div>
					<input type="text" name="name" placeholder="نام" required />
					<span>نامی که در سایت نمایش داده میشود.</span>
					<input
						type="email"
						name="email"
						placeholder="ایمیل"
						required
					/>
					<input
						type="password"
						name="password"
						placeholder="رمز عبور"
						required
					/>
					<input
						type="password"
						name="confirmPass"
						placeholder="تکرار رمز عبور"
						required
					/>
					<div class="agree">
						<label for="ch">
							<input type="checkbox" name="checkTOS" id="ch" /><a
								>شرایط و قوانین سایت را میپذیرم.</a
							>
						</label>
					</div>
					<input
						type="hidden"
						name="_csrf"
						value="<%= csrfToken %>"
					/>
					<input type="submit" value="تکمیل ثبت نام" />
					<p class="open">
						حساب کاربری دارید‌؟<a id="loginbtn">ورود</a>
					</p>
				</div>
			</form>
			<form action="/auth/login" method="post">
				<div class="login" id="login-box">
					<div class="navbar__leftbox--logo">
						<a href="/" class="navbar__leftbox--logo white-one"
							>Sir</a
						>
						<a href="/" class="navbar__leftbox--logo blue-one"
							>Vana</a
						>
					</div>
					<input type="text" name="email" placeholder="ایمیل" />
					<input
						type="password"
						name="password"
						placeholder="رمز عبور"
					/>
					<div class="text">
						<label for="checkbox">
							<input
								type="checkbox"
								name="checkRemember"
								id="checkbox"
							/>
							<a>مرا بخاطر بسپار</a>
						</label>
						<a id="forgotbtn">فراموشی رمز عبور</a>
					</div>
					<input
						type="hidden"
						name="_csrf"
						value="<%= csrfToken %>"
					/>
					<input type="submit" value="ورود" />
					<p class="create">
						عضو نیستید؟ <a id="registerbtn">اینجا</a> کلیک کنید.
					</p>
				</div>
			</form>
			<form action="/auth/reset-password" method="post">
				<div class="forgot" id="forgot-box">
					<div class="navbar__leftbox--logo">
						<a href="/" class="navbar__leftbox--logo white-one"
							>Sir</a
						>
						<a href="/" class="navbar__leftbox--logo blue-one"
							>Vana</a
						>
					</div>
					<input
						type="email"
						name="email"
						placeholder=" ایمیل خود را وارد نمایید"
					/>
					<input
						type="hidden"
						name="_csrf"
						value="<%= csrfToken %>"
					/>
					<input type="submit" value="ارسال" />
					<p class="open">
						حساب کاربری دارید‌؟<a id="logingbtn">ورود</a>
					</p>
				</div>
			</form>
		</div>

		<script src="js/loginsign.js"></script>
	</body>
</html>
