<!doctype html>
<html lang="fa" dir="rtl">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Css Links -->
		<link rel="stylesheet" href="styles/main.css" />
		<link rel="stylesheet" href="styles/teams-style.css" />
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
		<title>Teams</title>
	</head>

	<body>
		<div class="container">
			<%- include('./includes/navbar.ejs', {isLoggedIn: isLoggedIn, userName: userName}) %>

			<!-- --- -->
			<div class="container2">
				<div class="teams-search">
					<div class="teams-search-input">
						<label for="search">جستحو </label>
						<input type="search" id="search" value="search" />
					</div>

					<!-- Dropdown Menu -->
					<div class="teams-search-dropdown">
						<div id="list1" class="dropdown-check-list" tabindex="100">
							<span class="anchor">مرتب بر اساس</span>
							<ul class="items">
								<li><input type="checkbox" />نام</li>
								<li><input type="checkbox" />تعداد برد</li>
								<li><input type="checkbox" />تعداد بازیکن</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Cards -->
				<div class="team-card">
					<div class="team-card-box">
						<h1>نام تیم :</h1>
						<span>رنک :</span>
						<span>تعداد برد :</span>
						<span>تعداد بازیکن :</span>
					</div>
					<div class="team-card-box">
						<h1>نام تیم :</h1>
						<span>رنک :</span>
						<span>تعداد برد :</span>
						<span>تعداد بازیکن :</span>
					</div>
					<div class="team-card-box">
						<h1>نام تیم :</h1>
						<span>رنک :</span>
						<span>تعداد برد :</span>
						<span>تعداد بازیکن :</span>
					</div>
					<div class="team-card-box">
						<h1>نام تیم :</h1>
						<span>رنک :</span>
						<span>تعداد برد :</span>
						<span>تعداد بازیکن :</span>
					</div>
					<div class="team-card-box">
						<h1>نام تیم :</h1>
						<span>رنک :</span>
						<span>تعداد برد :</span>
						<span>تعداد بازیکن :</span>
					</div>
					<div class="team-card-box">
						<h1>نام تیم :</h1>
						<span>رنک :</span>
						<span>تعداد برد :</span>
						<span>تعداد بازیکن :</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Script -->
		<script src="js/dropdown.js"></script>
	</body>

</html>