<!doctype html>
<html lang="fa" dir="rtl">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="./img/shortcut icon.png" />

		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<!-- css links -->
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/tournoment.css" />
		<link rel="stylesheet" href="css/footer-tournoment.css" />
		<title>Tournoments</title>
	</head>

	<body>
		<!-- Navbar -->
		<div class="an">
			<div class="contain">
				<div class="navbar" dir="ltr">
					<div class="navbar__leftbox">
						<div class="navbar__leftbox--logo">
							<a href="site.html" class="navbar__leftbox--logo white-one">Sir</a>
							<a href="site.html" class="navbar__leftbox--logo blue-one">Vana</a>
						</div>
						<div class="navbar__leftbox--search" id="show" dir="rtl">
							<i class="bx bx-search-alt"></i>
							<input dir="rtl" type="search" placeholder="جستجوی تیم ، بازیکن ، تورنومنت ..." />
						</div>
					</div>
					<div class="navbar__rightbox">
						<div class="navbar__rightbox--link">
							<div id="hide" class="navbar__leftbox--search" dir="rtl">
								<i id="hideI" class="bx bx-search-alt"></i>
								<input id="hideInp" dir="rtl" type="search"
									placeholder="جستجوی تیم ، بازیکن ، تورنومنت .." />
							</div>
						</div>
						<div class="navbar__rightbox--link">
							<div class="nav-text">
								<a href="teams.html">هوش مصنوعی (رحیمی)</a>
							</div>
							<div class="navbar__rightbox icon">
								<a href="#">
									<i id="first-icon" class="bx bxs-user-account"></i>
								</a>
							</div>
						</div>
						<div class="navbar__rightbox--link">
							<div class="nav-text">
								<a href="teams.html">تیم ها</a>
							</div>
							<div class="navbar__rightbox icon">
								<a href="#">
									<i id="first-icon" class="bx bxs-user-account"></i>
								</a>
							</div>
						</div>
						<div class="navbar__rightbox--link">
							<div class="nav-text">
								<a href="signup.html">ورود | ثبت نام</a>
							</div>
							<div class="navbar__rightbox icon">
								<a href="signup.html">
									<i class="bx bxs-log-in-circle"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="hamburger">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</div>
				</div>

				<!-- title of header -->
				<div class="header-title">
					<p>تورنومنت بزرگ خود را بسازید.</p>
					<span>بیش از صد تورنومنت کامل شده و ده ها تورنومنت پیش رو.‌ آیا آماده نبرد هستید
						؟</span>
				</div>
			</div>

			<!-- creat tournoment modal box -->


			<!-- cards -->
			<div class="tour-cards">
				<div class="body-plus">
					<a href="#" class="add-tour">ایجاد تورنومنت</a>
					<a href="create-tour.html" class="plus-card">
						<span class="row"></span>
						<span class="column"></span>
					</a>
				</div>
				<div class="body-cards">
					<img src="img/teamcreat.webp" alt="" />
					<div class="card-titles">
						<span>
							<i class="bx bx-calendar"></i>
							شروع : ۱۴۰۲/۷/۱۳
						</span>
						<h1>
							<i class="bx bx-medal"></i>
							برادران کارامازوف
						</h1>
						<span><i class="bx bx-gift"></i>جایزه : ۱ میلیون تومان</span>
					</div>
					<button>عضو شوید</button>
				</div>
				<div class="body-cards">
					<img src="./img/teamcreat.webp" alt="" />
					<div class="card-titles">
						<span>
							<i class="bx bx-calendar"></i>
							شروع : ۱۴۰۲/۷/۱۳
						</span>
						<h1>
							<i class="bx bx-medal"></i>
							برادران کارامازوف
						</h1>
						<span><i class="bx bx-gift"></i>جایزه : ۱ میلیون تومان</span>
						<button>عضو شوید</button>
					</div>
				</div>
				<div class="body-cards">
					<img src="./img/teamcreat.webp" alt="" />
					<div class="card-titles">
						<span>
							<i class="bx bx-calendar"></i>
							شروع : ۱۴۰۲/۷/۱۳
						</span>
						<h1>
							<i class="bx bx-medal"></i>
							برادران کارامازوف
						</h1>
						<span><i class="bx bx-gift"></i>جایزه : ۱ میلیون تومان</span>
						<button>عضو شوید</button>
					</div>
				</div>
				<div class="body-cards">
					<img src="./img/teamcreat.webp" alt="" />
					<div class="card-titles">
						<span>
							<i class="bx bx-calendar"></i>
							شروع : ۱۴۰۲/۷/۱۳
						</span>
						<h1>
							<i class="bx bx-medal"></i>
							برادران کارامازوف
						</h1>
						<span><i class="bx bx-gift"></i>جایزه : ۱ میلیون تومان</span>
						<button>عضو شوید</button>
					</div>
				</div>
				<div class="body-cards">
					<img src="./img/teamcreat.webp" alt="" />
					<div class="card-titles">
						<span>
							<i class="bx bx-calendar"></i>
							شروع : ۱۴۰۲/۷/۱۳
						</span>
						<h1>
							<i class="bx bx-medal"></i>
							برادران کارامازوف
						</h1>
						<span><i class="bx bx-gift"></i>جایزه : ۱ میلیون تومان</span>
						<button>عضو شوید</button>
					</div>
				</div>
				<div class="body-cards">
					<img src="./img/teamcreat.webp" alt="" />
					<div class="card-titles">
						<span>
							<i class="bx bx-calendar"></i>
							شروع : ۱۴۰۲/۷/۱۳
						</span>
						<h1>
							<i class="bx bx-medal"></i>
							برادران کارامازوف
						</h1>
						<span><i class="bx bx-gift"></i>جایزه : ۱ میلیون تومان</span>
						<button>عضو شوید</button>
					</div>
				</div>
			</div>
			<!-- Footer -->
			<footer>
				<div class="footerContainer">
					<div class="socialIcons">
						<a href="#"><i class="bx bxl-facebook-circle"></i></a>
						<a href="#"><i class="bx bxl-instagram"></i></a>
						<a href="#"><i class="bx bxl-twitter"></i></a>
						<a href="#"><i class="bx bxl-telegram"></i></a>
						<a href="#"><i class="bx bxl-youtube"></i></a>
					</div>
					<div class="footerNav">
						<ul>
							<li><a href="#">درباره ما</a></li>
							<li><a href="#news">اخبار</a></li>
							<li><a href="#">درباره ما</a></li>
							<li><a href="#">تماس با ما</a></li>
							<li><a href="#">تیم ما</a></li>
						</ul>
					</div>
					<div class="footerBottom">
						<p>
							&copy;1402 ; تمامی حقوق برای
							<span class="designer">تیم نوب سگان</span> محفوظ است. کپی به هرشکل غیرمجاز و
							غیرقانونی است.
						</p>
					</div>
				</div>
			</footer>
		</div>

		<!-- scripts -->
		<script src="js/burger.js"></script>
	</body>

</html>