<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="./img/shortcut icon.png" />

		<!-- Site Icon -->
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet"
		/>

		<!-- css links -->
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/tournoment.css" />
		<link rel="stylesheet" href="css/footer-tournoment.css" />
		<title>Tournoments</title>
	</head>

	<body>
		<!-- Navbar -->
		<div class="an">
			<div class="contain">
				<%- include('./includes/navbar.ejs', {isLoggedIn: isLoggedIn,
				userName: userName}) %>

				<!-- title of header -->
				<div class="header-title">
					<p>تورنومنت بزرگ خود را بسازید.</p>
					<span
						>بیش از صد تورنومنت کامل شده و ده ها تورنومنت پیش رو.‌
						آیا آماده نبرد هستید ؟</span
					>
				</div>
			</div>

			<!-- creat tournoment modal box -->
			<div class="create-tour">
				<div class="create-tour__content">
					<span class="close-button">&times;</span>
					<form action="">
						<div class="right-box">
							<div class="form-control">
								<label for="name">اسم تورنومنت‌ :</label>
								<input type="text" id="name" autofocus />
							</div>
							<div class="mmr-control">
								<label>محدوده رنک :</label>
								<label class="in" for="mmr-first">از</label>
								<input
									type="text"
									list="ranks-first"
									id="mmr-first"
								/>
								<datalist id="ranks-first">
									<option>Herald</option>
									<option>Guardian</option>
									<option>Crusader</option>
									<option>Archon</option>
									<option>Legend</option>
									<option>Ancient</option>
									<option>Divine</option>
									<option>Immortal</option>
								</datalist>
								<label class="in" for="mmr-last">تا</label>
								<input type="text" list="ranks-last" />
								<datalist id="ranks-last">
									<option>Herald</option>
									<option>Guardian</option>
									<option>Crusader</option>
									<option>Archon</option>
									<option>Legend</option>
									<option>Ancient</option>
									<option>Divine</option>
									<option>Immortal</option>
								</datalist>
							</div>
							<div class="date">
								<label for="date">تاریخ شروع :</label>
								<input type="datetime-local" id="date" />
							</div>
							<div class="prize">
								<label for="prize">جایزه :</label>
								<input type="number" id="prize" />
							</div>
						</div>
						<div class="middle"></div>
						<div class="left-box">
							<div class="description">
								<label for="desc">توضیحات تورنومنت :</label>
								<textarea
									name="desc"
									id="desc"
									cols="10"
									rows="10"
									required
								></textarea>
							</div>
							<label>تصویر تورنومنت :</label>
							<div class="image-upload">
								<input type="file" id="file" multiple />
								<a href="#"><i class="bx bx-plus"></i></a>
							</div>
							<button class="create" type="submit">ایجاد</button>
						</div>
					</form>
				</div>
			</div>

			<!-- cards -->
			<div class="tour-cards">
				<div class="body-plus">
					<a href="#" class="add-tour trigger">ایجاد تورنومنت</a>
					<a class="plus-card">
						<span class="row"></span>
						<span class="column"></span>
					</a>
				</div>
				<div class="body-cards">
					<img src="img/teamcreat.webp" alt="" />
					<div class="card-titles">
						<span>
							<i class="bx bx-calendar"></i>
							شروع : ۱۴۰۲/۷/۱۳
						</span>
						<h1>
							<i class="bx bx-medal"></i>
							برادران کارامازوف
						</h1>
						<span
							><i class="bx bx-gift"></i>جایزه : ۱ میلیون
							تومان</span
						>
					</div>
					<button>عضو شوید</button>
				</div>
				<div class="body-cards">
					<img src="./img/teamcreat.webp" alt="" />
					<div class="card-titles">
						<span>
							<i class="bx bx-calendar"></i>
							شروع : ۱۴۰۲/۷/۱۳
						</span>
						<h1>
							<i class="bx bx-medal"></i>
							برادران کارامازوف
						</h1>
						<span
							><i class="bx bx-gift"></i>جایزه : ۱ میلیون
							تومان</span
						>
						<button>عضو شوید</button>
					</div>
				</div>
				<div class="body-cards">
					<img src="./img/teamcreat.webp" alt="" />
					<div class="card-titles">
						<span>
							<i class="bx bx-calendar"></i>
							شروع : ۱۴۰۲/۷/۱۳
						</span>
						<h1>
							<i class="bx bx-medal"></i>
							برادران کارامازوف
						</h1>
						<span
							><i class="bx bx-gift"></i>جایزه : ۱ میلیون
							تومان</span
						>
						<button>عضو شوید</button>
					</div>
				</div>
				<div class="body-cards">
					<img src="./img/teamcreat.webp" alt="" />
					<div class="card-titles">
						<span>
							<i class="bx bx-calendar"></i>
							شروع : ۱۴۰۲/۷/۱۳
						</span>
						<h1>
							<i class="bx bx-medal"></i>
							برادران کارامازوف
						</h1>
						<span
							><i class="bx bx-gift"></i>جایزه : ۱ میلیون
							تومان</span
						>
						<button>عضو شوید</button>
					</div>
				</div>
				<div class="body-cards">
					<img src="./img/teamcreat.webp" alt="" />
					<div class="card-titles">
						<span>
							<i class="bx bx-calendar"></i>
							شروع : ۱۴۰۲/۷/۱۳
						</span>
						<h1>
							<i class="bx bx-medal"></i>
							برادران کارامازوف
						</h1>
						<span
							><i class="bx bx-gift"></i>جایزه : ۱ میلیون
							تومان</span
						>
						<button>عضو شوید</button>
					</div>
				</div>
				<div class="body-cards">
					<img src="./img/teamcreat.webp" alt="" />
					<div class="card-titles">
						<span>
							<i class="bx bx-calendar"></i>
							شروع : ۱۴۰۲/۷/۱۳
						</span>
						<h1>
							<i class="bx bx-medal"></i>
							برادران کارامازوف
						</h1>
						<span
							><i class="bx bx-gift"></i>جایزه : ۱ میلیون
							تومان</span
						>
						<button>عضو شوید</button>
					</div>
				</div>
			</div>
			<!-- Footer -->
			<%- include('./includes/footer') %>

		<!-- scripts -->
		<script src="js/burger.js"></script>
		<script src="js/tour-modalbox.js"></script>
	</body>
</html>
