/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@1,900&display=swap');

/* Webfont: ../fonts/Yekan-Font-3.0/Yekan.eot */
@font-face {
	font-family: 'Tanha';
	src: url('../fonts/Tanha.eot'); /* IE9 Compat Modes */
	src: url('../fonts/?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/Tanha.woff2') format('woff2'),
		/* Modern Browsers */ url('../fonts/Tanha.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/Tanha.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #ffffff92;
	border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
a {
	cursor: pointer;
	text-decoration: none;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 10px;
}

body {
	background-color: #35155d;

	overflow: hidden;
}
/* ------------------------------------------- */

.container {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.container2 {
	width: 100%;
	height: 70rem;
}
/* -------------------------- */
.topblock {
	width: 120rem;
	height: 15rem;

	/* background-color: #35155d; */

	margin: 0 auto;
	padding: 0 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.topblock__menu {
	width: 100%;
	height: 50%;

	padding-bottom: 4rem;

	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.topblock__menu a {
	padding-right: 2rem;

	font-family: 'Tanha';
	font-size: 2rem;
	color: #fff;

	filter: brightness(0.9);
	-webkit-filter: brightness(0.8);
	-moz-filter: brightness(0.8);

	transition: filter 0.2s ease;
}
.topblock__menu a:hover:nth-child(2n-1) {
	filter: brightness(1);
	-webkit-filter: brightness(1);
	-moz-filter: brightness(1);
}
.topblock__menu a:hover:nth-child(2n) {
	cursor: default;
}
.topblock__menu .active {
	filter: brightness(1);
	font-weight: bold;

}
.editable {
	border: 2px solid rgba(255, 255, 255, 0.7) !important;
	background-color: rgba(0, 0, 0, 0.9) !important;
}
/* ---------------------- */

.midblock {
	width: 100%;
	height: 40rem;

	display: flex;
	justify-content: center;

	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(1rem);
	border-top: 2px solid gold;
	box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5), 0 -2rem 5rem rgba(0, 0, 0, 0.5);
}

.midblockk {
	width: 120rem;
	height: 100%;

	display: flex;
	/* flex-wrap: wrap; */
	justify-content: flex-end;

	padding: 1rem;
	position: relative;
}
/* ----------------------- */

.midblock__left {
	width: 40%;
	/* max-width: 40rem; */
	height: 100%;

	display: flex;
	flex-direction: column;

}

.myteamblock,
.mytourblock {
	width: 100%;
	height: 35%;
	padding: 1rem;
	margin-bottom: 1rem;
	
	display: flex;
	flex-direction: column;

	background-color: rgba(0, 0, 0, 0.4);
}

.myteamblock__box,
.mytourblock__box {
	width: 100%;
	height: 132.44px;
}

.myteamblock__box p,
.otherteamblock p,
.mytourblock__box p {
	padding: 0 0 1rem 0;

	font: 600 2rem "Tanha";
	color: #fff;
}
.mid-note {
	width: 95%;
	height: 1px;
	margin-bottom: 0.6rem;

	background-color: rgba(255, 255, 255, 0.3);
}

.myteamblock__box--notyet,
.otherteamblock__notyet,
.mytourblock__box--notyet,
.othertourblock__notyet {
	width: 100%;
	padding: 1rem 2rem;
	margin-top: 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.myteamblock__box--notyet span,
.otherteamblock__notyet span,
.mytourblock__box--notyet span,
.othertourblock__notyet span {
	font: 1.5rem "Tanha";
	color: #c8c8c8;
}
.myteamblock__box--notyet a,
.myteamblock__box--team a,
.otherteamblock__notyet a,
.otherteamblock__botbox--team a,
.mytourblock__box--notyet a,
.mytourblock__box--tour a,
.othertourblock__botbox--team a,
.othertourblock__notyet a {
	font: 1.3rem "Tanha";
	color: #fff;
	padding: 0.7rem 1.5rem;
	margin-left: 1.5rem;

	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.2);

	filter: brightness(0.7);

	transition: filter 0.2s ease;
}
.myteamblock__box--notyet a:hover,
.otherteamblock__notyet a:hover,
.otherteamblock__botbox--team a:hover,
.mytourblock__box--notyet a:hover,
.mytourblock__box--tour a:hover,
.othertourblock__botbox--team a:hover,
.othertourblock__notyet a:hover {
	filter: brightness(1);
}

.myteamblock__box--team,
.otherteamblock__botbox--team,
.mytourblock__box--tour,
.othertourblock__botbox--team {
	width: 100%;
	padding: 1rem 2rem;
	margin-bottom: 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.specific,
.specifics,
.specific-tour,
.specifics-tour {
	width: 100%;

	display: flex;
	align-items: center;
}
.specific img,
.specifics img,
.specific-tour img,
.specifics-tour img {
	width: 5rem;
	height: 4.5rem; 

	object-fit: cover;

	border: 2px solid rgba(255, 255, 255, 0.4);
}
.specific img:last-child,
.specifics img:last-child,
.specific-tour img:nth-child(3),
.specifics-tour img:last-child,
.specifics-tour img:nth-child(3) {
	border: none;
	margin-right: 4rem;
	margin-left: 0.2rem;
}
.specific-tour img:nth-child(5),
.specifics-tour img:nth-child(5) {
	border: none;
	margin-right: 0.8rem;
}
.specific span,
.specifics span,
.specific-tour span,
.specifics-tour span {
	font: 1.7rem "Lato", sans-serif;
	color: #fff;
	width: 9rem;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	margin: 0 0.5rem 0 0;
}

.specific-tour p,
.specifics-tour p {
	font-size: 1.3rem;
}

/* ------------------------------------ */
.otherteamblock,
.othertourblock {
	width: 100%;
	height: 60%;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	
	background-color: rgba(0, 0, 0, 0.4);
}

.otherteamblock__botbox,
.othertourblock__botbox {
	width: 100%;

	display: flex;
	flex-direction: column;

	overflow-y: auto;
}

.othertourblock__botbox--team h1 {
	font-size: 1.4rem;
	color: #fff;
	font-family: "Lato", sans-serif;
	margin-right: 3rem;
}
/* ---------------------------------------- */

.midblock__right {
	width: 50%;
	height: 100%;
	margin-left: 1rem;

	display: flex;
	flex-direction: column;

}


