/* header Css :*/

/* Webfont: ../fonts/Yekan-Font-3.0/Yekan.eot */
@font-face {
  font-family: "Tanha";
  src: url("../fonts/Tanha.eot"); /* IE9 Compat Modes */
  src: url("../fonts/?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Tanha.woff2") format("woff2"),
    /* Modern Browsers */ url("../fonts/Tanha.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Tanha.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

.navbar {
  width: 100%;
  /* height: 85.2px; */
  position: absolute;
  z-index: 199;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 4.8rem 1.3rem 4.8rem;
  /* Background */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7904411764705882) 19%,
    rgba(0, 0, 0, 0.7400210084033614) 32%,
    rgba(255, 255, 255, 0) 100%
  );
  border: none;
}

.navbar__leftbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__leftbox--logo {
  transition: all 0.3s ease-out;
}

.navbar__leftbox--logo .white-one {
  font-size: 4rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.navbar__leftbox--logo .blue-one {
  color: #66fcf1;
  font-size: 4.1rem;
  font-weight: 600;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.navbar__leftbox--logo:hover .white-one {
  color: #66fcf1;
}

.navbar__leftbox--logo:hover .blue-one {
  color: white;
}

.navbar__leftbox--search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 30rem;
  margin-left: 5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 2.5rem;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 0.1rem solid rgba(255, 255, 255, 0.15);
}

.navbar__leftbox--search i {
  padding: 0.4rem 1.44rem 0.4rem 0.48rem;
  color: #66fcf1;
  cursor: pointer;
  font-size: 1.7rem;
  transition: color 0.2s;
}

.navbar__leftbox--search i:hover {
  color: #fff;
}

.navbar__leftbox--search input {
  border: none;
  background: none;
  padding: 0.48rem 0.3rem 0.48rem 1rem;
  width: 24rem;
  color: #fff;
  font-family: "Lato", "Tanha";
  letter-spacing: 1.5px;
  font-size: 1.3rem;
}

.navbar__leftbox--search input::placeholder {
  font-family: "Tanha";
  outline: none;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: normal;
}

#hide {
  display: none;
}

.navbar__leftbox--search input:focus {
  outline: none;
  color: #fff;
  font-family: "Lato", "Tanha";
  font-size: 1.3rem;
  letter-spacing: 1.5px;
}

.navbar__leftbox--search input:focus::placeholder {
  color: transparent;
}

.navbar__rightbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__rightbox--link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.2rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.navbar__rightbox--link:last-child {
  margin: 0;
}

.navbar__rightbox--link:hover {
}

.navbar__rightbox--link a {
  text-decoration: none;
  padding-left: 1.5rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
  font-family: "Tanha";
}

.navbar__rightbox--link:hover a {
  color: #66fcf1;
}

.navbar__rightbox .icon {
  padding-top: 0.48rem;
}

.navbar__rightbox .icon a {
  padding: 0;
}

.navbar__rightbox--link i {
  color: #66fcf1;
  padding-left: 0.4rem;
}

/* burger menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 1.3rem;
  height: 0.2rem;
  margin: 0.5rem;
  background: #66fcf1;
  transition: all 0.3s ease-in-out;
}

/* Media Query */
@media (min-width: 320px) and (max-width: 480px) {
  .navbar__leftbox a {
    font-size: 2.9rem !important;
  }

  .navbar__leftbox--search {
    width: 18rem;
    height: 2.5rem;
    margin-left: 0;
  }
  .navbar__leftbox--search input {
    width: 100%;
    padding: 0.48rem 0.3rem 0.48rem 1rem;
    font-size: 1rem;
    font-family: "Lato", "Tanha";
    letter-spacing: 1.5px;
  }

  .navbar__leftbox--search input::placeholder,
  .navbar__leftbox--search input:focus {
    font-size: 0.9rem;
  }

  .navbar__leftbox--search i {
    font-size: 0.9rem;
    padding: 1rem 1rem 1rem 0.3rem;
  }

  #hide {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: 25rem;
    height: 3rem;
  }

  #hideI {
    font-size: 1.2rem;
    padding: 1rem;
  }

  #hideInp {
    padding: 1rem 0.5rem 1rem 1rem;
    font-size: 1.2rem;
  }

  #hideInp::placeholder,
  #hideInp:focus {
    font-size: 1.2rem;
  }

  #show {
    display: none;
  }

  .hamburger {
    display: block;
    z-index: 203;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(1rem) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.6rem) rotate(-45deg);
  }

  .navbar__rightbox .icon {
    display: none;
  }

  .navbar__rightbox {
    position: fixed;
    right: -50rem;
    top: 0;
    gap: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    z-index: 202;
  }
  .bar {
    width: 2rem;
    height: 0.3rem;
    border-radius: 1.5rem;
  }
  .navbar__rightbox--link {
    margin: 1rem 0;
  }

  .navbar__rightbox.active {
    right: 0;
    z-index: 200;
    background: #000000d7;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .navbar__leftbox a {
    font-size: 3.3rem !important;
  }

  .navbar__leftbox--search {
    margin-left: 3rem;
    width: 17rem;
    height: 2.3rem;
  }

  .navbar__leftbox--search input {
    width: 100%;
    padding: 0.48rem 0.3rem 0.48rem 1rem;
    font-size: 0.9rem;
  }

  .navbar__leftbox--search input::placeholder,
  .navbar__leftbox--search input:focus {
    font-size: 0.9rem;
  }

  .navbar__leftbox--search i {
    font-size: 0.9rem;
    padding: 1rem 0.7rem 0.8rem 0.3rem;
  }

  #hide {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: 25rem;
    height: 3rem;
  }

  #hideI {
    font-size: 1.2rem;
    padding: 1rem;
  }

  #hideInp {
    padding: 1rem 0.5rem 1rem 1rem;
    font-size: 1.2rem;
  }

  #hideInp::placeholder,
  #hideInp:focus {
    font-size: 1.2rem;
  }

  #show {
    display: none;
  }

  .navbar__rightbox--link {
    padding: 0;
    margin: 0;
  }

  .hamburger {
    display: block;
    z-index: 203;
    margin-right: 3rem;
    margin-left: 2rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(1.2rem) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.6rem) rotate(-45deg);
  }

  .bar {
    width: 2.5rem;
    height: 0.4rem;
    border-radius: 1.5rem;
  }

  .navbar__rightbox .icon {
    display: none;
  }

  .navbar__rightbox {
    position: fixed;
    right: -50rem;
    top: 0;
    gap: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    z-index: 202;
  }

  .navbar__rightbox--link {
    margin: 1rem 0;
  }

  .navbar__rightbox.active {
    right: 0;
    z-index: 200;
    background: #000000d7;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav-text a,
  .icon a {
    font-size: 1rem;
  }

  .navbar__leftbox a {
    font-size: 2.3rem !important;
  }

  .navbar__leftbox--search input {
    width: 100%;
    font-family: "Lato", "Tanha";
    /* letter-spacing: 1.5px; */
    font-size: 0.7rem;
  }

  .navbar__leftbox--search input::placeholder,
  .navbar__leftbox--search input:focus {
    font-size: 0.7rem;
  }

  .navbar__leftbox--search i {
    font-size: 1rem;
    padding: 0.7rem 0.7rem 0.5rem 0.3rem;
  }

  .navbar__rightbox--teams,
  .navbar__rightbox--tournoments,
  .navbar__rightbox--login,
  .navbar__rightbox--signup {
    margin: 0;
    padding: 0;
  }

  .navbar__rightbox--link {
    margin: 0;
    padding: 0.5rem 0.5rem 0.2rem;
  }

  .navbar__leftbox--search {
    width: 12rem;
    height: 2rem;
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .navbar__leftbox a {
    font-size: 3rem !important;
  }

  .nav-text a {
    font-size: 1.3rem;
  }

  .icon {
    padding-bottom: 0.3rem;
  }

  .icon i {
    font-size: small;
  }

  .navbar__leftbox--search {
    width: 18rem;
  }

  .navbar__leftbox--search input {
    width: 100%;
    font-size: 0.8rem;
  }

  .navbar__leftbox--search input::placeholder,
  .navbar__leftbox--search input:focus {
    font-size: 0.8rem;
  }

  .navbar__leftbox--search i {
    font-size: 1.2rem;
  }

  .navbar__leftbox--search {
    height: 2.8rem;
  }
  .navbar__rightbox--link {
    padding-right: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .navbar__leftbox--search {
    width: 30rem;
  }
  .navbar__leftbox--search input::placeholder,
  .navbar__leftbox--search input:focus {
    font-size: 1.3rem;
  }
  .navbar__leftbox--search input {
    width: 100%;
    font-size: 1.3rem;
  }
}
