@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@1,900&display=swap");

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff92;
  border-radius: 1rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
a{
  cursor: pointer;
}
/* -------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #000;
}

.navbar {
  position: absolute;
  top: 0;
}

.navbar__leftbox--search {
  width: 20rem;
}

.teams-page {
  width: 100%;
  height: 50rem;
  background-image: url(../img/playerbg_11zon.jpg);
  background-size: cover;
  background-position: 25% 25%;
}

.dark-box {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 1%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* create team modal box */
.create-team {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  background-color: rgba(0, 0, 0, 0.8);
}

.create-teambg {
  width: 100%;
  height: 100%;
}

.create-team__content {
  position: absolute;
  width: 60rem;
  z-index: 99;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(1rem);
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.26);
}

.modal-title {
  width: 100%;
  color: #fff;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0 0.5rem 0;
  font-family: "Tanha";
}

.close-button {
  width: 1.5rem;
  font-size: 2rem;
  /* line-height: 2rem; */
  padding: 0 1.3rem;
  text-align: center;
  cursor: pointer;
  background: none;
  color: #fff;
  transition: color 0.12s ease-in-out;
}

.close-button:hover {
  color: #d75b4c;
}

.team-make {
  width: 100%;
  height: 100%;
  font-family: "Tanha";
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem 3rem 3rem 1.5rem;
}

.team-make label {
  margin: 0.1rem 0.6rem;
  display: block;
  color: #fff;
  font-size: 2rem;
}

.form-controls,
.mmr-controls,
.dates,
.image-uploads {
  width: 100%;
  margin: 0 0.2rem 2rem 0;
}

.form-controls {
  display: flex;
  flex-direction: column;
}

.wrong-input-alrt {
  color: red;
  font-family: "Tanha";
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 0.5rem;
}

.form-controls input,
.dates input {
  border: 1px solid #5a5c60;
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 27rem;
  margin: 0.5rem 0;
  transition: border 0.1s, box-shadow 0.1s;
}

.form-controls input:focus,
.mmr-controls input:focus,
.dates input:focus,
.descriptions textarea:focus {
  outline: none;
  border: 1px solid aqua;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px inset rgba(0, 0, 0, 0.9) !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
}

.form-controls input::placeholder {
  font-family: "Tanha";
  font-size: 1.2rem;
}

.form-controls input:focus::placeholder {
  color: transparent;
}

/* .mmr-controls input {
  border: 1px solid #5a5c60;
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.5rem 0;
  transition: border 0.1s, box-shadow 0.1s;
} */

.mmr-control {
  display: flex;
  align-items: center;
}

textarea {
  resize: none;
  height: 12rem;
  font-family: "Tanha";
  border: 1px solid #5a5c60;
  background: rgba(0, 0, 0, 0);
}

.image-uploads {
  width: 18rem;
  height: 2.8rem;
  border: 1px dashed #5a5c60;
  background: rgba(0, 0, 0, 0);
  position: relative;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.image-uploads a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 3rem;
  color: #989da6;
  font-size: 1.2rem;
}

.image-uploads input::file-selector-button {
  cursor: pointer;
}

.image-uploads input {
  position: absolute;
  outline: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.vert {
  width: 3px;
  background-color: none;
  margin: 1rem 1rem 0;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(51, 0, 255, 1) 50%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: 500% 500%;
  animation: grads 6s linear infinite;
}

.descriptions textarea {
  border: 1px solid #d1d5db;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 18rem;
  margin: 0.5rem 0 0 0;
  transition: border 0.1s, box-shadow 0.1s;
}

.team-make .create {
  margin: 4rem 0.2rem 0 0;
  width: 100%;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.2rem 0.7rem;
  border: none;
  background-color: #00e5ff;
  color: #000000;
  font-family: "Tanha";
  font-size: 1.6rem;
  transition: all 0.2s ease;
}

.team-make .create:hover {
  background-color: #18ffff;
}
.team-make .create:focus {
  transform: translateY(3px);
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* --------------------------------- */

.team-box {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
}

.shadow-box {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.top-box {
  width: 100%;
  height: 5rem;
  margin: 0 auto;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
}

.right-filter {
  display: flex;
  align-items: center;
}

.left-filter {
  display: flex;
  align-items: center;
}

.left-filter .remove-filter a {
  text-decoration: none;
  color: #fff;
  filter: brightness(70%);
  font-family: "Tanha";
  font-size: 1.4rem;
  padding: 0 3rem 0 1rem;
  transition: filter 0.3s ease;
}

.left-filter i {
  color: #fff;
  filter: brightness(70%);
  cursor: pointer;
  margin-left: 1rem;
  transition: filter 0.3s ease;
}

.remove-filter:hover a,
.remove-filter:hover i {
  filter: brightness(1);
}

.top-box .search {
  margin: 0 2rem 0 1rem;
}

.search .navbar__leftbox--search {
  border-radius: 0.7rem;
}

.mmr-control input:focus {
  outline: none;
  border: 1px solid aqua;
}

.mmr-control input {
  border-radius: 5px;
  border: 1px solid #5a5c60;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  padding: 0.5rem 1rem;
  width: 10.6rem;
  margin: 0.5rem 0;
  transition: border 0.1s, box-shadow 0.1s;
}

.mmr-control label {
  margin: 0 1rem;
  font-family: "Tanha";
  color: #fff;
  font-size: 1.6rem;
}

.vertical {
  width: 3px;
  height: 3.5rem;

  margin: 0 2rem;

  background-color: aqua;
}

.top-box .checkbox {
  margin: 0 2.5rem;
}

.form-control {
  font-family: "Tanha";
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.1;
  color: #fff;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  cursor: pointer;
}

.form-control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.5rem solid currentColor;
  border-radius: 0.15em;
  transform: translateY(0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.form-control input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em aqua;
}

.form-control input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.dpdw-menu i {
  color: aqua;
  font-size: 2.2rem;
  padding: 0 0.5rem;
}

.dpdw-menu span {
  color: #fff;
  font-family: "Tanha";
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 0 0 1rem;
}

.menu select {
  appearance: none;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  cursor: inherit;
  font-family: "Tanha";
  font-weight: bold;
  overflow: hidden;
}

select option {
  background-color: rgba(0, 0, 0, 0.9);
}

.menu {
  position: relative;
  min-width: 15ch;
  max-width: 30ch;
  border: 0.1rem solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: rgba(255, 255, 255, 0.05);
}

.menu::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #fff;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  position: absolute;
  bottom: 50%;
  left: 14%;
  transform: translateY(50%);
  pointer-events: none;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid aqua;
  border-radius: inherit;
}

.middle {
  min-width: 20rem;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(51, 0, 255, 1) 50%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: 500% 500%;
  animation: grads 6s linear infinite;
}

@-webkit-keyframes grads {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes grads {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.range {
  margin: 0 3rem;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  font-family: "Tanha";
  cursor: pointer;
  filter: brightness(70%);
  transition: filter 0.2s ease;
}

.range:hover {
  filter: brightness(100%);
}

.players-cards {
  display: flex;
  width: 100%;
  max-width: 1300px;
  flex-wrap: wrap;
  margin: 1rem 0;
  justify-content: flex-start;
}

.player-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.player-card:first-child:hover i,
.player-card:first-child:hover p {
  opacity: 1;
}

.player-card {
  position: relative;
  width: 285px;
  height: 35rem;
  margin: 2rem 2rem;
  overflow: hidden;
  border-radius: 1rem;
}

.player-card:hover {
  --border-size: 7px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #213 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), #08f, #f03, #08f);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 2s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.player-card .pic {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 1.5rem;
  object-fit: cover;
  transition: all 0.4s ease;
}

.player-card:hover .pic {
  /* transform: scale(1.2); */
  filter: blur(1.4px);
}

.player-caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: auto;
  bottom: 0;
  right: 0;
  width: 98%;
  height: 98%;
  margin: 0.4rem 0.4rem;
  color: #fff;
  border-radius: 1rem;
  background-color: #000;
  opacity: 0.9;
  /* padding: 15px; */
  -webkit-transform: translateY(80%);
  transform: translateY(80%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
  transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
  font-family: "Tanha";
}
.player-card:hover .player-caption {
  opacity: 0.9;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
}


.show-medals {
  display: flex;
  align-items: center;
}

.first-medal,
.second-medal {
  width: 4rem;
  height: 4rem;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

.from-to {
  width: 1.3rem;
  height: 0.2rem;
  background-color: #fff;
  position: relative;
  top: 10%;
  /* transform: translateY(-50%); */
}

.first-medal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-medal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.medal-title {
  padding: 2rem 0 1rem 0;
  font-size: 1.7rem;
}

.player-card__title {
  padding: 2rem 0;
  font-size: 2rem;
  font-family: "Lato";
}

.player-card__content {
  padding: 2rem 0 1rem 0;
  font-size: 1.7rem;
}

.player-card__needmember {
  padding: 2rem 0 1rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.player-card__needmember i {
  /* color: aqua; */
  font-size: 1.6rem;
  padding: 0.4rem;
}

.player-card__needmember .bxs-check-circle {
  color: #00c853;
}

.player-card__needmember .bxs-x-circle {
  color: #d50000;
}

.player-card__needmember i {
  /* color: aqua; */
  padding: 0.4rem;
}

.player-card__needmember .bxs-check-circle {
  color: #00c853;
}

.player-card__needmember .bxs-x-circle {
  color: #d50000;
}

.more-button a {
  color: #000;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: aqua;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 1rem;
  transition: background-color 0.2s ease;
}

.more-button a:hover {
  background-color: aquamarine;
}

.more-button {
  margin-top: 6rem;
}


.header1 {
  text-align: center;
  color: #fff;
  font-family: "Tanha";
  font-size: 3.4rem;
  margin-top: 10rem;
}
