/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@1,900&display=swap");

/* Webfont: ../fonts/Yekan-Font-3.0/Yekan.eot */
@font-face {
  font-family: "Tanha";
  src: url("../fonts/Tanha.eot"); /* IE9 Compat Modes */
  src: url("../fonts/?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Tanha.woff2") format("woff2"),
    /* Modern Browsers */ url("../fonts/Tanha.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Tanha.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff92;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a {
  cursor: pointer;
}
/* --------------------------------------------------- */
body {
  scroll-behavior: smooth;
  background-color: #000;
}

html {
  font-size: 10px;
}

.scroll-down {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 40;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mouse-scroll {
  width: 4rem;
  height: 6rem;

  border-radius: 4rem;
  border: 3px solid #fff;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.mouse {
  width: 1rem;
  height: 1rem;

  border-radius: 50%;
  background-color: #fff;

  animation: mouse 2s infinite;
}
@keyframes mouse {
  from {
    transform: translateX(-1.3rem);
  }
  to {
    transform: translate(-1.3rem, 2.3rem);
    
  }
}

.arrow {
  width: 16px;
  height: 16px;

  transform: rotate(45deg);
  transform: translateY();

  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;

  
}

.arrows {
  animation: arrow 2s infinite;
}
@keyframes arrow {
  from {
    
  }
  to {
    transform: translateY(1rem);
  }
}

/* slider2 */
.slideshow-container {
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: relative;
}

.shadow-box {
  width: 100%;
  height: 50%;

  position: absolute;
  bottom: 0;

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.mySlides {
  width: 100%;
  height: 100%;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySlides .text {
  min-width: 30rem;
  max-width: 60rem;
  width: 60rem;
  text-align: center;
  color: #f2f2f2;
  font-size: 3rem;
  font-family: "Tanha";
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 15%;
  transform: translate(50%, 0);
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  /* from {opacity: .4} 
  to {opacity: 1} */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ------------------------------- */
/* Last-tournaments */
.last-tournaments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 130rem;

  margin: 0 auto 5rem;
  z-index: 50;
}

.last-tournaments__title p {
  color: #fff;
  font-size: 3rem;
  font-family: "Tanha";
  font-weight: bold;
  
  padding-right: 2rem;
}

.middle-bar {
  width: 100%;
  height: 3px;

  margin: 1rem 0 2rem;

  border-radius: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(51, 0, 255, 1) 50%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: 500% 500%;
  animation: grads 6s linear infinite;
}

.tours-cards {
  display: flex;
  width: 100%;
  max-width: 1300px;
  flex-wrap: wrap;
  margin: 1rem 0;
  justify-content: flex-start;
}

#create-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#create-button p {
  color: #fff;
  padding: 2rem 0 0;
  font-size: 2rem;
  font-family: "Tanha";
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.1s ease;
}

#create-button i {
  color: #fff;
  opacity: 0.7;
  font-size: 5rem;
  transition: opacity 0.3s ease;
}

#create-button:hover i,
#create-button:hover p {
  opacity: 1;
}

.tour-card {
  position: relative;
  width: 40rem;
  height: 30rem;
  margin: 2rem 1.6rem;
  overflow: hidden;
  border-radius: 1rem;
}

.tour-card:hover {
  --border-size: 7px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #213 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), #08f, #f03, #08f);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 2s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.tour-card img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 1.5rem;
  object-fit: cover;
  transition: all 0.4s ease;
  cursor: pointer;
}

.tour-card:hover .td {
  /* transform: scale(1.2); */
  filter: blur(1.4px);
}

.tour-caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: auto;
  bottom: 0;
  right: 0;
  width: 98%;
  height: 98%;
  margin: 0.4rem 0.4rem;
  color: #fff;
  border-radius: 1rem;
  background-color: #000;
  cursor: pointer;
  opacity: 0.9;
  /* padding: 15px; */
  -webkit-transform: translateY(80%);
  transform: translateY(80%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
  transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
  font-family: "Tanha";
}

.show-medals {
  display: flex;
  align-items: center;
}

.first-medal,
.second-medal {
  width: 5rem;
  height: 5rem;
  position: relative;
  top: 50%;
  transform: translateY(-40%);
}

.from-to {
  width: 1.3rem;
  height: 0.2rem;
  background-color: #fff;
  position: relative;
  top: 10%;
  /* transform: translateY(-50%); */
}

.first-medal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-medal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour-card__title {
  padding: 2rem 0;
  font-size: 2rem;
  font-family: "Lato";
}

.tour-card__content,
.medal-title {
  padding: 2rem 0 1rem 0;
  font-size: 1.7rem;
}

.tour-card__members {
  padding: 0 0 1rem;
}

.tour-card__needmember {
  padding: 0 0 1rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.tour-card__needmember i {
  color: aqua;
  padding: 0.4rem;
}

.more-button a {
  color: #000;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: aqua;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 1rem;
  transition: background-color 0.2s ease;
}

.more-button a:hover {
  background-color: aquamarine;
}

.more-button {
  margin-top: 6rem;
}

.tour-card:hover .tour-caption {
  opacity: 0.9;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
}

/* End of Last-tournaments------------------------------------- */
/* Cards */
.cards {
  max-width: 130rem;

  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width: 40rem;
  height: 25rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;

  margin: 1.5rem;

  position: relative;
}

.card-body:hover {
  backdrop-filter: blur(0.2rem);
  color: aqua;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 1.5rem;
  padding: 2rem 6rem;
  transition: all 0.2s ease-in-out;
  /* Background : */
  /* background: rgb(0, 0, 0); */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8995973389355743) 28%,
    rgba(255, 255, 255, 0) 87%
  );
}

.card-title {
  font-size: 2.5rem;
  font-family: "Tanha";
  color: #fff;
}

.card-btn {
  width: 20rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-family: "Tanha";
  /* background: none; */
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  border: 0.1rem solid rgba(255, 255, 255, 0.15);
  transition: all 0.2s ease;
}

.card-btn:hover {
  color: aqua;
  transform: translateY(0.3rem);
}

/* online lft and lfp :*/
.looking-for {
  max-width: 130rem;
  margin: 10rem auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.looking-for__player--box,
.looking-for__team--box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0 3rem 3rem 0;
}

.looking-for__player--title p,
.looking-for__team--title p {
  color: #fff;
  font-size: 3rem;
  font-family: "Tanha";
  font-weight: bold;
}

.looking-for__player,
.looking-for__team {
  width: 50rem;
  height: 31.8rem;
  max-height: 31.8rem;

  display: flex;
  flex-direction: column;

  background: rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border: 1px solid #5a5c60;
  border-top: none;

  overflow: scroll;
  overflow-x: hidden;
}

.looking-for__player--middle,
.looking-for__team--middle {
  width: 100%;
  height: 3px;

  margin: 2rem 0 0rem;

  border-radius: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(51, 0, 255, 1) 50%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: 500% 500%;
  animation: grads 6s linear infinite;
}

@-webkit-keyframes grads {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes grads {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.player,
.team {
  background: rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;

  padding: 1.5rem 3rem;

  transition: background 0.2s ease;
}

.player:hover,
.team:hover {
  background: rgba(255, 255, 255, 0.2);
}

.player-name p,
.team p {
  font-family: "Tanha";
  font-size: 1.6rem;
  color: #fff;
}

.more-of-player,
.more-of-team {
  display: flex;
}

.rol,
.player-rol {
  width: 3rem;
  margin-left: 2rem;
}
.rank,
.player-rank {
  width: 3rem;
  margin-right: 2rem;
}

.rol p,
.player-rol p {
  font-family: "Tanha";
  font-size: 1.6rem;
  color: #fff;
}

.rank img,
.player-rank img {
  width: 100%;
  height: 100%;
}

/* end of online lft and lfp ----------------------------*/
@media (min-width: 320px) and (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-title {
    font-size: 1.3rem;
  }

  .card-btn {
    width: 7rem;
    padding: 0.6rem;
    font-size: 0.9rem;
  }
  /* slider news */
  .slider__news {
    display: none;
  }
  /* slider */
  .text-content h1 {
    font-size: 1.5rem;
    padding: 0 8rem;
  }
  .content .text-content {
    top: calc(100% - 10rem);
    left: calc(100% - 41rem);
    right: calc(100% - 41rem);
    margin: 0 auto;
    text-align: center;
  }
  .slider1 {
    height: calc(100vh - 35rem);
  }
}
@media (min-width: 320px) and (max-width: 328px) {
  .card-title {
    font-size: 1.3rem;
  }
  .card-btn {
    width: 5rem;
    padding: 0.6rem;
    font-size: 0.6rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-title {
    font-size: 2.3rem;
  }

  .card-btn {
    width: 11rem;
    padding: 0.9rem;
    font-size: 1rem;
  }
  /* slider news */
  .slider__news {
    display: none;
  }
  /* slider */
  .text-content h1 {
    font-size: 2rem;
    padding-bottom: 0;
    width: 600px;
    padding: 0 13rem;
  }
  .content .text-content {
    top: calc(100% - 10rem);
    left: calc(100% - 41rem);
    right: calc(100% - 60rem);
    margin: 0 auto;
    text-align: center;
  }

  .slider1 {
    height: calc(100vh - 30rem);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* cards */
  #thirdcard {
    grid-column-start: 1;
    grid-column-end: 3;
    width: calc(100vw - 45rem);
    margin: 0 auto;
  }
  .card-title {
    font-size: 2rem;
  }
  .card-btn {
    width: 9rem;
    padding: 0.8rem;
    font-size: 1.1rem;
  }
  /* Slider news */
  .slider__news--box-title h1 {
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
  }
  .slider__news--box-content p {
    font-size: 0.9rem;
  }
  /* slider */
  .text-content h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .card-title {
    font-size: 1.5rem;
  }
  .card-btn {
    width: 8rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
  /* Slider news */
  .slider__news--box-title h1 {
    font-size: 1.5rem;
    margin-bottom: 1.8rem;
  }
  .slider__news--box-content p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  .card-title {
    font-size: 2.1rem;
  }
  .card-btn {
    width: 10rem;
    padding: 0.7rem;
    font-size: 1rem;
  }
  /* Slider news */
  .slider__news--box-title h1 {
    font-size: 1.7rem;
    margin-bottom: 1.8rem;
  }
  .slider__news--box-content p {
    font-size: 1.3rem;
  }

  .slider {
    height: calc(100vh - 15rem);
  }
}
